body{
    background-image: url('src/assets/fondo-acuarela.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 150vh;
    opacity: 0.95;
}