body{
    background-image: url('src/assets/fondo-acuarela.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 150vh;
    opacity: 0.95;
}

.contenedor-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.margen{
    margin-left: 10px;
    margin-right: 10px;
}

.my-custom-scrollbar{
    position: relative;
    height: 500px;
    overflow: auto;
}

.my-custom-scrollbar-1{
    position: relative;
    height: 150px;
    overflow: auto;
}

.table-wrapper-scroll-y{
    display: block;
}